.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 105px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    z-index: 1;
}

.topbar .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    z-index: -1;
    background-color: var(--background-accent-color);
}

.topbar .logo {
    width: auto;
    height: 80px;
}

.topbar .title {
    position: absolute;
    right: 50%;
    margin: 0;
    font-size: 3.125rem;
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: none;
    transform: translateX(50%);
    align-self: center;
}

.topbar .nav-links a {
    margin-left: 10px;
    font-size: 1.25rem;
    text-decoration: none;
}

.topbar .nav-links a:hover {
    color: var(--text-accent-color);
}

.topbar .navbar-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.topbar .navbar-button .line,
.topbar .navbar-button .line::before,
.topbar .navbar-button .line::after {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background: var(--accent-color);
    transition: all 0.35s ease-in-out;
}

.topbar .navbar-button .line::before,
.topbar .navbar-button .line::after {
    content: '';
    position: absolute;
}
    
.topbar .navbar-button .line::before {
    transform: translateY(-16px);
}
        
.topbar .navbar-button .line::after {
    transform: translateY(16px);
}
    
.topbar .navbar-button.open .line {
    background: transparent;
}

.topbar .navbar-button.open .line::before {
    transform: rotate(-45deg);
}

.topbar .navbar-button.open .line::after {
    transform: rotate(45deg);
}

@media screen and (min-width: 1080px) {
    .topbar .navbar-button {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .topbar {
        align-items: center;
    }

    .topbar .nav-links {
        position: absolute;
        top: 104px;
        left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px;
        background: var(--background-accent-color);
        z-index: -2;
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;
    }

    .topbar .nav-links a {
        font-size: 2.25rem;
    }

    .topbar .nav-links.open {
        transform: translateY(0);
    }
}
